
// Custom variables

// Import required Bootstrap stuff
@import "../../../theme/boost/scss/bootstrap/functions";
@import "../../../theme/boost/scss/bootstrap/variables";

$message-send-bg: $gray-300 !default;
$message-send-color: color-yiq($message-send-bg) !default;
$message-send-time-color: mix($message-send-color, $message-send-bg, 100%) !default;
$message-received-bg: $body-bg !default;
$message-received-color: color-yiq($message-received-bg) !default;
$message-received-color-muted: mix($message-received-color, $message-received-bg, 70%) !default;
$message-app-bg: mix($message-send-bg, $message-received-bg, 50%) !default;
$message-day-colors: color-yiq($message-app-bg) !default;

.error-highlight {
    border: 1px dotted red;
}
.warning-highlight {
    border: 1px dotted orange;
}
.message-app {
    background-color: $message-app-bg;
    .message {
        &.send {
            background-color: $message-send-bg;
            color: $message-send-color;
            .time {
                color: $message-send-time-color;
            }
            .tail {
                border-bottom-color: $message-send-bg;
            }
        }
        &.received {
            background-color: $message-received-bg;
            color: $message-received-color;
            .time {
                color: $message-received-color-muted;
            }
            .tail {
                border-bottom-color: $message-received-bg;
            }
        }
    }
    .day {
        color: $message-day-colors;
    }
}