<div class="Input CSS card mb-5 w-100" style="height: 400px; overflow-y: scroll">
    <div class="card-body small">
        <h2>Input CSS</h2>

        <pre>
        	{{{inputcss}}}
        </pre>
    </div>
</div>

<div class="outputcss card mb-5" style="height: 400px; overflow-y: scroll">
    <div class="card-body small">
    <h2>Output CSS</h2>
      Parsed css form core_scss
        <pre>
        {{{outputcss}}}
        </pre>
    </div>
</div>

{{#parsed}}
<div class="parsedcss card" style="height: 400px; overflow-y: scroll">
    <div class="card-body small">
    <h2>Parsed CSS</h2>
      Parsed css from core_cssparser
      <pre>
        {{{parsed}}}
      </pre>
</div>
{{/parsed}}