
{{>local_uitest/intro}}

<hr>

<!-- Make sure the CSS you create is injected in this template !-->
{{>local_uitest/injectcss}}

<div class="row">
    <div id="check-wcag" class="col-12 py-5 ">
        <h3>YOUR CUSTOM TEMPLATE HERE</h3>
    </div>
    <div class="col-12">
        {{>local_uitest/cssoutput}}
    </div>
</div>