<hr>
<div class="d-flex">
	<div id="check-wcag" class="message-app check-wcag p-2 my-5 border" style="width: 400px">
		<div class="content-message-container h-100 px-2 pt-0" data-region="content-message-container" role="log" style="overflow-y: auto; overflow-x: hidden">
			<div class="py-3 bg-light sticky-top z-index-1 border-bottom text-center hidden" data-region="contact-request-sent-message-container">
				<p class="m-0">Contact request sent</p>
				<p class="font-italic font-weight-light" data-region="text"></p>
			</div>
			<div class="p-3 bg-light text-center hidden" data-region="self-conversation-message-container">
				<p class="m-0">Personal space</p>
				<p class="font-italic font-weight-light" data-region="text">Save draft messages, links, notes etc. to access later.</p>
			</div>
			<div class="text-center p-3 hidden" data-region="more-messages-loading-icon-container">
				<span class="loading-icon icon-no-margin"><i aria-label="Loading" class="icon fa fa-circle-o-notch fa-spin fa-fw" title="Loading"></i></span>
			</div>
			<div class="mt-4" data-day-id="1556661600" data-region="day-container">
				<h6 class="text-center mb-4 day">1 May</h6>
				<div class="d-flex flex-column" data-region="day-messages-container">
					<div aria-checked="false" class="message clickable d-flex flex-column p-2 mx-1 position-relative received rounded mb-2 mt-2" data-message-id="63" data-region="message" role="checkbox" tabindex="0">
						<div class="tail position-absolute"></div>
						<div class="d-flex align-items-center pb-2">
							<div style="flex-shrink: 0"><img alt="Chris Cross" aria-hidden="true" class="rounded-circle" src="http://nucky.fritz.box/stable_master/pluginfile.php/78/user/icon/boost/f1?rev=78" style="height: 30px"></div>
							<div class="text-truncate pl-2 pr-2">
								<h6 class="text-truncate m-0 font-weight-bold">Chris Cross</h6>
							</div>
							<div class="ml-auto small text-right time" style="flex-shrink: 0">
								11:55
							</div><span class="hidden ml-2 small text-dark" data-region="not-selected-icon"><i aria-hidden="true" class="icon fa fa-circle-o fa-fw"></i></span> <span class="hidden ml-2 small text-primary" data-region="selected-icon"><i aria-hidden="true" class="icon fa fa-check-circle fa-fw"></i></span>
						</div>
						<div align="initial" dir="auto">
							<p>Once there was a king and queen in their castle, and a peasant and his old wife in their cot. The king was wealthy in herds and cattle, and had an only daughter who lived in a costly bower with her maidens. The peasant was poor and had no child. The only support for him and his old wife was a cow.<br></p>
						</div>
					</div>
					<div aria-checked="false" class="message clickable d-flex flex-column p-2 mx-1 position-relative received rounded mb-2 mt-2" data-message-id="64" data-region="message" role="checkbox" tabindex="0">
						<div class="tail position-absolute"></div>
						<div class="d-flex align-items-center pb-2">
							<div style="flex-shrink: 0"><img alt="Chris Cross" aria-hidden="true" class="rounded-circle" src="http://nucky.fritz.box/stable_master/pluginfile.php/78/user/icon/boost/f1?rev=78" style="height: 30px"></div>
							<div class="text-truncate pl-2 pr-2">
								<h6 class="text-truncate m-0 font-weight-bold">Chris Cross</h6>
							</div>
							<div class="ml-auto small text-right time" style="flex-shrink: 0">
								11:55
							</div><span class="hidden ml-2 small text-dark" data-region="not-selected-icon"><i aria-hidden="true" class="icon fa fa-circle-o fa-fw"></i></span> <span class="hidden ml-2 small text-primary" data-region="selected-icon"><i aria-hidden="true" class="icon fa fa-check-circle fa-fw"></i></span>
						</div>
						<div align="initial" dir="auto">
							<p>Now the peasant took his cow with him in a cord, and did not heed his wife's protests against taking away their sole cow. He found out the priest and gave him the cow. The priest wondered at this and asked him what he meant by it.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="mt-4" data-day-id="1560722400" data-region="day-container">
				<h6 class="text-center mb-4 day">17 June</h6>
				<div class="d-flex flex-column" data-region="day-messages-container">
					<div aria-checked="false" class="message clickable d-flex flex-column p-2 mx-1 position-relative send rounded mb-2 mt-2" data-message-id="72" data-region="message" role="checkbox" tabindex="0">
						<div class="tail position-absolute"></div>
						<div class="d-flex align-items-center">
							<div class="ml-auto small text-right time" style="flex-shrink: 0">
								10:13
							</div><span class="hidden ml-2 small text-dark" data-region="not-selected-icon"><i aria-hidden="true" class="icon fa fa-circle-o fa-fw"></i></span> <span class="hidden ml-2 small text-primary" data-region="selected-icon"><i aria-hidden="true" class="icon fa fa-check-circle fa-fw"></i></span>
						</div>
						<div align="initial" dir="auto">
							<p>The peasant was poor and had no child. The only support for him and his old wife was a cow.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="results my-5 ml-2">
		<div class="intro card" style="width: 400px">

			<div class="card-body small">
				<h2>The message speach bubbles</h2>

				<div class="errors">

				</div>
				<div class="warnings mb-3">

				</div>

				<p>This test is written to try different shades of gray for the messaging UI. The objective is to make sure it renderes well on different themes.</p>
				<p>The colours for this UI are determined by the $secondary variable in theme/boost/scss/bootstrap/_variables.scss</p>

				<p>In Moodle we override this variable to be $gray-020, custom themes might use very different colours. Test this using a url like:

					<b>http://yourmoodle.com/local/uitest/index.php?template=message?gray=gray-800</b> </p>

				<p>Your options are gray-100 to gray-900</p>

				<p>Note, when clicking on the UI a JS module checks the WCAG complience. Open the JavaScript console for more info.</p>
			</div>
		</div>


	</div>
</div>
<h2>Input CSS</h2>

<pre>
	{{{inputcss}}}
</pre>

<h2>Output CSS</h2>
<div class="outputcss" style="height: 300px; overflow-y: scroll">
	<pre>
		{{{outputcss}}}
	</pre>
</div>

<style>
	{{{outputcss}}}
</style>

{{#js}}
require(
[
    'jquery',
    'local_uitest/main',
],
function(
    $,
    Main
) {
    var root = $('.check-wcag');
    Main.init(root);
});
{{/js}}