
{{>local_uitest/intro}}

<hr>

<!-- Make sure the CSS you create is injected in this template !-->
{{>local_uitest/injectcss}}

<div class="row">
	<div class="col-md-4">
		{{>local_uitest/cssoutput}}
	</div>
</div>