<div class="intro card w-100">
	<div class="card-body small">
		<div class="m-1 border p-1">
			<h3>The results of the WCAG colour checks will be shown here:</h3>
			<div class="errors">

			</div>
			<div class="warnings mb-3">

			</div>
		</div>
		<div class="templateinfo">
			{{$info}}{{/info}}
		</div>
	</div>
</div>