<div class="contacts __GRIDCLASSES__">
     <div class="contacts_container __CONTAINERCLASSES__">

          <div class="contacts_imagecontainer __CENTERDIV__">
             <img alt="" class="img-responsive" src="{{ image }}">
         </div>

          <div class="contactinfo py-3 text-center">
             <div class="contact-name __SHORTENNAME__">
                 <strong>{{ name }}</strong>
             </div>
             <small>
                 {{ email }}
             </small>
         </div>

          <a href="#" class="__LINKCLASSES__">
             Choose
         </a>

      </div>
 </div>